MyPizza/Controlador/Service References/ServiceProducto/WSProducto.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://services.proven.cat/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="WSProducto" targetNamespace="http://services.proven.cat/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/ServicioWeb/WSProducto?xsd=1" namespace="http://services.proven.cat/" />
    </xsd:schema>
  </types>
  <message name="bebidas">
    <part name="parameters" element="tns:bebidas" />
  </message>
  <message name="bebidasResponse">
    <part name="parameters" element="tns:bebidasResponse" />
  </message>
  <message name="pizzas">
    <part name="parameters" element="tns:pizzas" />
  </message>
  <message name="pizzasResponse">
    <part name="parameters" element="tns:pizzasResponse" />
  </message>
  <message name="ingredientes">
    <part name="parameters" element="tns:ingredientes" />
  </message>
  <message name="ingredientesResponse">
    <part name="parameters" element="tns:ingredientesResponse" />
  </message>
  <message name="ingredientespizza">
    <part name="parameters" element="tns:ingredientespizza" />
  </message>
  <message name="ingredientespizzaResponse">
    <part name="parameters" element="tns:ingredientespizzaResponse" />
  </message>
  <portType name="WSProducto">
    <operation name="bebidas">
      <input wsam:Action="http://services.proven.cat/WSProducto/bebidasRequest" message="tns:bebidas" />
      <output wsam:Action="http://services.proven.cat/WSProducto/bebidasResponse" message="tns:bebidasResponse" />
    </operation>
    <operation name="pizzas">
      <input wsam:Action="http://services.proven.cat/WSProducto/pizzasRequest" message="tns:pizzas" />
      <output wsam:Action="http://services.proven.cat/WSProducto/pizzasResponse" message="tns:pizzasResponse" />
    </operation>
    <operation name="ingredientes">
      <input wsam:Action="http://services.proven.cat/WSProducto/ingredientesRequest" message="tns:ingredientes" />
      <output wsam:Action="http://services.proven.cat/WSProducto/ingredientesResponse" message="tns:ingredientesResponse" />
    </operation>
    <operation name="ingredientespizza">
      <input wsam:Action="http://services.proven.cat/WSProducto/ingredientespizzaRequest" message="tns:ingredientespizza" />
      <output wsam:Action="http://services.proven.cat/WSProducto/ingredientespizzaResponse" message="tns:ingredientespizzaResponse" />
    </operation>
  </portType>
  <binding name="WSProductoPortBinding" type="tns:WSProducto">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="bebidas">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="pizzas">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ingredientes">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ingredientespizza">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="WSProducto">
    <port name="WSProductoPort" binding="tns:WSProductoPortBinding">
      <soap:address location="http://localhost:8080/ServicioWeb/WSProducto" />
    </port>
  </service>
</definitions>