MyPizza/Controlador/Service References/ServiceProducto/WSProducto.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services.proven.cat/" targetNamespace="http://services.proven.cat/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="bebidas" type="tns:bebidas" />
  <xs:element name="bebidasResponse" type="tns:bebidasResponse" />
  <xs:element name="ingredientes" type="tns:ingredientes" />
  <xs:element name="ingredientesResponse" type="tns:ingredientesResponse" />
  <xs:element name="ingredientespizza" type="tns:ingredientespizza" />
  <xs:element name="ingredientespizzaResponse" type="tns:ingredientespizzaResponse" />
  <xs:element name="pizzas" type="tns:pizzas" />
  <xs:element name="pizzasResponse" type="tns:pizzasResponse" />
  <xs:complexType name="bebidas">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="bebidasResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="pizzas">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="pizzasResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ingredientespizza">
    <xs:sequence>
      <xs:element name="idpizza" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ingredientespizzaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ingredientes">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="ingredientesResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>