prueba/WindowsFormsApplication1/Service References/ServiceReference1/WSProducto.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services.proven.cat/" targetNamespace="http://services.proven.cat/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="listAllIngredients" type="tns:listAllIngredients" />
  <xs:element name="listAllIngredientsResponse" type="tns:listAllIngredientsResponse" />
  <xs:element name="listIngredientesOfPizza" type="tns:listIngredientesOfPizza" />
  <xs:element name="listIngredientesOfPizzaResponse" type="tns:listIngredientesOfPizzaResponse" />
  <xs:element name="listallbebidas" type="tns:listallbebidas" />
  <xs:element name="listallbebidasResponse" type="tns:listallbebidasResponse" />
  <xs:element name="listallpizzas" type="tns:listallpizzas" />
  <xs:element name="listallpizzasResponse" type="tns:listallpizzasResponse" />
  <xs:complexType name="listallbebidas">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listallbebidasResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listallpizzas">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listallpizzasResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listIngredientesOfPizza">
    <xs:sequence>
      <xs:element name="idpizza" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listIngredientesOfPizzaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listAllIngredients">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listAllIngredientsResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>